*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F6F8F9 ;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
  width: 70%;
  margin: 0 auto;
  background-color: white;
}

.border-bottom{
  padding-bottom: 20px;
  border-bottom: 2px solid #F6F8F9;
}

.button-func{
  display: inline-block;
  line-height: 10px;
  text-align: center;
  width: 90px;
  height: 38px;
  border: 1px solid white;
  border-radius: 10%;
  font-size: 14px;
  margin-top: 10px;
}

.section{
  padding-left: 50px;
  padding-top: 30px;
}

/* marking and checks */
.mark-true{
  font-size: 15px;
  padding: 3px;
  color: green;
  border: 1px solid green;
  border-radius: 50%; 
}

.mark-false{
  font-size: 15px;
  padding: 3px;
  color: red;
  border: 1px solid red;
  border-radius: 50%; 
}

.list{
  padding-left: 10px;
  font-size: 22px;
}

.points{
  margin-top: 10px;
  padding-bottom: 15px;
}
/* /marking and checks */


/* HEADER */
header{ 
  height: 100px;
  background-color: white;
}

#logo{
  width: 75px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
  vertical-align: middle;
}

#logo-text{
  font-size: 50px;
  margin-left: 10px;
}

/* MAIN */
.search-bar{
  margin-top: 50px;
  border: 1px solid #F6F8F9;
  border-radius: 1%;
}

.left-bott{
  background-color: #48ADF1;
  color: white;
}

.right-bott{
  background-color: white;
  border: 1px solid lightgray;
  margin-left: 5px;
  width: 130px;
}

h2::before{
  content: ' \25BC ';
  font-size: 12px;
}

/* tags and colors */
.tag{
  border-radius: 40%/100%;
  border: 1px solid white;
  background:#fff;
  padding: 4px 7px;
  font-size: 10px;
  background-color: #44ABEA;
  color: white;
  margin-left: 5px;
  }

.purple{
  background-color: #9C72E4 ;
}

.greenlig{
  background-color: #64C0A9;
}

.orange{
  background-color: #F29E33;
}

.pink{
  background-color: #D863A1;
}

.green{
  background-color: #B0C926;
}
/* /tags and colors */